.nav {
	height: 100vh;
	background-color: var(--cl-4);
	position: fixed;
	left: 0;
	width: 7.5rem;
	padding: 0 2.75rem;
	box-sizing: content-box;
}

.navbar {
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 767px) {
	.nav {
		top: 0;
		height: 5.5rem;
		padding: 0;
		padding-top: 1.75rem;
		width: 100%;
	}
}
